name: share data between artifacts
on:
 workflow_dispatch:

jobs:
 upload:
  runs-on: ubuntu-latest
  steps:
      - name: Generate Hello World File
        run: echo "Hello World" > hello.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: hello-artifact
          path: hello.txt
  
 download:
  runs-on: self-hosted
  needs: upload
  steps:
   - name: download file
     uses: actions/download-artifact@v3
     with: 
      name: hello file
   - name: modify the file
     run: echo "updated line" >> hello.txt
    
   
  
     
     
     
  
