name: Generate Hello World File

on:
 workflow_dispatch

jobs:
  generate_file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Generate Hello World File
        run: echo "Hello World" > hello.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: hello-artifact
          path: hello.txt
