name: Hello world workflow
on:

 workflow_dispatch:


jobs:
  hello:
    
    runs-on: self-hosted
    
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run: echo "Hello world"
        shell: bash
      - name: just checking
        run: echo "just checking"
        shell: bash
  goodbye:
    needs: hello
    runs-on: self-hosted
    steps:
      - name: goodbye world
        run: echo "Goodbye world"
        shell: bash
  goodbye2:
    needs: hello
    runs-on: self-hosted
    steps:
      - name: goodbye world
        run: echo "Goodbye world"
        shell: bash
